CODING_TOOLS_MCP_OAUTH_CLIENT_ID="CloudFlare Tunnel Client ID"
CODING_TOOLS_MCP_OAUTH_CLIENT_SECRET="自定义 Client Secret"
CODING_TOOLS_MCP_OAUTH_PASSWORD="自定义登录密码"
CODING_TOOLS_MCP_SERVER_URL="CloudFlare Tunnel 域名(固定) 不填写则自动生成，每次启动需要删除旧MCP应用，重建或者修改URL"